# AirBnB NY Locations Data Case Study

In this final project, you task will be to take the data provided and find evidance to answer the following questions.

1. Which hosts are the busiest and why?
2. How many neighborhood groups are available and which shows up the most?
3. Are private rooms the most popular in manhattan?
4. Which hosts are the busiest and based on their reviews?
5. Which neighorhood group has the highest average price?
6. Which neighborhood group has the highest total price?
7. Which top 5 hosts have the highest total price?
8. Who currently has no (zero) availability with a review count of 100 or more?
9. What host has the highest total of prices and where are they located?
10. When did Danielle from Queens last receive a review?

You will be given **4 hours** to complete this assignment. 
**Be Advised** I will go dark for this intire assignment time period. That said, any questions that you would like to ask about the data, or the project **MUST** be asked before the time starts. Once the time has started, I can no longer give information.

This is to similate what you will face when you are out in the wild. 

Happy Coding!

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
air_bnb = pd.read_csv('AB_NYC_2019.csv')
air_bnb.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [5]:
# How many neighborhood groups are available and which shows up the most?
ng = pd.read_csv('AB_NYC_2019.csv')['neighbourhood_group']
ng.describe(include='all')
# Using the Describe Method on only the neighborhood groups we can see that there are 5 unique groups, 
# and the one that shows up the most is Manhattan

count         48895
unique            5
top       Manhattan
freq          21661
Name: neighbourhood_group, dtype: object

In [78]:
# Are private rooms the most popular in manhattan?
Man = air_bnb[air_bnb['neighbourhood_group'] == 'Manhattan']
Man['room_type'].mode()

# No, The most poular room type in manhattan is Entire homes/apts

0    Entire home/apt
dtype: object

In [24]:
# Which hosts are the busiest and based on their reviews?
treviews = air_bnb.groupby(['host_id']).number_of_reviews.sum()
treviews.sort_values(ascending=False)

host_id
37312959     2273
344035       2205
26432133     2017
35524316     1971
40176101     1818
             ...
140338526       0
24508767        0
140323391       0
140312311       0
274321313       0
Name: number_of_reviews, Length: 37457, dtype: int64

In [71]:
#Which neighorhood group has the highest average price?
hood = air_bnb.groupby(['neighbourhood_group']).price.median().sort_values(ascending=False)
hood

neighbourhood_group
Manhattan        150
Brooklyn          90
Queens            75
Staten Island     75
Bronx             65
Name: price, dtype: int64

In [69]:
# Which neighbor hood group has the highest total price?
hood = air_bnb.groupby(['neighbourhood_group']).price.sum().sort_values(ascending=False)
hood

neighbourhood_group
Manhattan        4264527
Brooklyn         2500600
Queens            563867
Bronx              95459
Staten Island      42825
Name: price, dtype: int64

In [32]:
#Which top 5 hosts have the highest total price?
maxhost = air_bnb.groupby(['host_id']).price.sum()
maxhost.sort_values(ascending=False).head(5)

host_id
219517861    82795
107434423    70331
156158778    37097
205031545    35294
30283594     33581
Name: price, dtype: int64

In [76]:
# Who currently has no (zero) availability with a review count of 100 or more?
air_bnb.loc[(air_bnb['number_of_reviews']<= 100) & (air_bnb['availability_365']==0)]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
6,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,45,49,2017-10-05,0.40,1,0
14,6090,West Village Nest - Superhost,11975,Alina,Manhattan,West Village,40.73530,-74.00525,Entire home/apt,120,90,27,2018-10-31,0.22,1,0
20,7801,Sweet and Spacious Brooklyn Loft,21207,Chaya,Brooklyn,Williamsburg,40.71842,-73.95718,Entire home/apt,299,3,9,2011-12-28,0.07,1,0
26,8700,Magnifique Suite au N de Manhattan - vue Cloitres,26394,Claude & Sophie,Manhattan,Inwood,40.86754,-73.92639,Private room,80,4,0,NaN,NaN,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48550,36313048,Sunny room with private entrance in shared home,16883913,Tiffany,Queens,Ridgewood,40.69919,-73.89902,Private room,45,1,0,NaN,NaN,1,0
48731,36410519,Sunlight charming apt. in the heart of Brooklyn,121384174,Luciana Paula,Brooklyn,Park Slope,40.66716,-73.98101,Entire home/apt,111,8,0,NaN,NaN,1,0
48756,36419441,Murray Hill Masterpiece,273824202,David,Manhattan,Murray Hill,40.74404,-73.97239,Entire home/apt,129,2,0,NaN,NaN,1,0
48760,36420725,"Sunnyside, Queens 15 Mins to Midtown Clean & C...",19990280,Brandon,Queens,Sunnyside,40.74719,-73.91919,Private room,46,1,0,NaN,NaN,1,0
48779,36424776,Queen size bedroom in two bed apt with great l...,13384464,Hollie,Brooklyn,Bedford-Stuyvesant,40.69617,-73.94198,Private room,50,3,0,NaN,NaN,1,0

In [65]:
# What host has the highest total of prices and where are they located?
maxhost = air_bnb.groupby('host_id').price.sum().sort_values(ascending=False).head()
maxhostmerge = air_bnb.merge(maxhost, on = 'host_id',how = 'inner')
highestpriceandlocation = maxhostmerge.sort_values('price_y',ascending=False).drop_duplicates(subset = 'host_id')
display(highestpriceandlocation[['host_id','host_name','neighbourhood_group','price_y']])

       host_id     host_name neighbourhood_group  price_y
740  219517861  Sonder (NYC)           Manhattan    82795
158  107434423    Blueground           Manhattan    70331
363  156158778         Sally           Manhattan    37097
370  205031545    Red Awning           Manhattan    35294
42    30283594          Kara           Manhattan    33581

In [81]:
# When did Danielle from Queens last receive a review?
air_bnb[air_bnb['host_name']== 'Danielle' & air_bnb['neighbourhood'] == 'Queens' ]

TypeError: Cannot perform 'rand_' with a dtyped [object] array and scalar of type [bool]

## Further Questions

1. Which host has the most listings?

2. How many listings have completely open availability?

3. What room_types have the highest review numbers?

# Final Conclusion

In this cell, write your final conclusion for each of the questions asked.

Also, if you uncovered some more details that were not asked above, please discribe them here.

-- Add your conclusion --